.container {
    width: 100vw;
    height: 100vh;
    
    padding: 100px 100px; /* 余白を詰める */
    display: grid;

    box-sizing: border-box;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 1fr; /* 上段をコンテンツに合わせる */

    grid-template-areas: 
        "board info"
        "empty controls";

}

/* 左半分（全体を占める） */
.gridLayout {
  grid-area: empty;
}

.matchInfoPanel {
    grid-area: info;
    display: flex;
    flex-direction: column;
    align-items: flex-end; /* 右寄せ */
    justify-content: flex-start;
}

.matchingControls {
  grid-area: controls;
  display: flex;
  flex-direction: column; /* 縦並びに戻す */
  align-items: flex-end;   /* 右寄せ */
  justify-content: flex-end;
}

.buttonsContainer {
    display: flex;
    align-items: center;
}

.matchingButton{
  padding-left: 20px;
}

.EnPanel{
  font-size: 2.5rem;
  font-weight: bold;
  padding-right: 20px;
}

.mainPanel{
  font-size: 15rem;
  font-family: sans-serif; /* 将棋のフォントを棋士名入力欄と同じにする */
  font-weight: bold; /* sans-serifを太字にする */
  line-height: 1.1;
}

.subPanel{
  font-size: 4rem;
  font-weight: bold;
  line-height: 1;
  padding-right: 10px;
}

.userName{
  font-size: 8rem;
  font-weight: bold;
  line-height: 1;
  padding-right: 10px;
  padding-bottom: 20px;
}