button {
    font-size: 2rem;
    font-family: Arial, sans-serif;
    font-weight: bold;
    color: #fff;
    padding: 0.25rem 2rem;
    background: transparent;
    border: 0.2rem solid #fff;
    border-radius: 2rem;

    cursor: pointer;
}

button:hover {
  background: #a3835d;
}

button:active {
  transform: scale(0.95);
}
