.board {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-template-rows: repeat(9, 1fr);
  width: 450px;
  height: 450px;
  border: 2px solid #000000;

}

body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
