.piece {
    transition-duration: 0.2s;
}

/* 味方の駒 || この駒が選択されている */
.isSelected{
    transform: scale(1.15);
}

/* 味方の駒 || 選択可能 || 他に駒が選択されていない */
.ally.selectable.noneSelected:hover {
    transform: scale(1.15);
}

/* 味方の駒 || 他に駒が選択されている */
.ally.otherSelected {
    filter: grayscale(100%);
}
